.songRow{
  margin-left: 20px;
  padding: 20px;
  display: flex;
  color: white;  
}
.body__tableBody_tableRow{
  border: none;
}
.body__tableBody_tableRow:hover,
.songRow:hover{
 cursor: pointer; 
 background-color: black;
 opacity: 0.8;
}
.songRow__image{
height: 40px;
width: 40px;
}
.songRow__info{
margin-left: 20px;
}
.songRow__info > h1{
font-size: 16px;
}
.songRow__info > p {
font-size: 14px;
margin-top: 3px;
color: gray;
}