.songRow{
  margin-left: 20px;
  padding: 20px;
  display: flex;
  color: white;  
}

.body__tableBody_tableRow:hover,
.songRow:hover{
 cursor: pointer; 
 background-color: black;
 opacity: 0.6;
}
.songRow__image{
height: 40px;
width: 40px;
}
.songRow__info{
margin-left: 20px;
}
.songRow__info > h1{
font-size: 16px;
}
.songRow__info > p {
font-size: 14px;
margin-top: 3px;
color: gray;
}

.body__tableBody_tableRow > .MuiTableCell-root{
  border: none;
  color: gray;
  padding: 0;
  text-align: center;
  
}
.MuiTableHead-root > .MuiTableRow-root > .MuiTableCell-root{
  color: gray;
}
/* .body__tableBody_tableRow > 	.MuiTableCell-root:first-child{
  margin-left: 10px;
} */